.navbar {
    height: 80px;
}

.container-fluid {
    position: fixed;
    height: calc(100% - 80px);
}

.row {
    height: 100%;
}

.row>div {
    height: 100%;
}

input {
    margin: 0 5px;
}

textarea {
    resize: none;
    font-family: monospace !important;
    height: calc(100% - 47px) !important;
    border: 1px solid #007bff !important;
}

pre {
    font-family: monospace;
    height: calc(100% - 47px);
    padding: .375rem .75rem;
    font-size: 100%;
    color: #495057;
    border: 1px solid #007bff;
    border-radius: .25em;
    background-color: #e9ecef;
    cursor: text;
}

.CodeMirror {
    height: calc(100% - 47px);
    border: 1px solid #007bff;
    border-radius: .25em;
    cursor: text;
}

.CodeMirror-focused, #result:hover {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
    outline: 0;
}

.CodeMirror-placeholder {
    color: #999 !important;
}
