<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta name='description' content='Simple Data Analysis'>
  <meta name='keywords' content='HTML, CSS, GO, JavaScript, Vue, Bootstrap'>
  <meta name='author' content='Sunshine'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Simple Data Analysis</title>
  <script src='https://cdn.jsdelivr.net/npm/vue@next/dist/vue.global.prod.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/codemirror@5/lib/codemirror.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/codemirror@5/addon/display/placeholder.min.js'></script>
  <link href='https://cdn.jsdelivr.net/npm/codemirror@5/lib/codemirror.min.css' rel='stylesheet'>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@4/dist/css/bootstrap.min.css' rel='stylesheet'>
  <link href='/static/style.css' rel='stylesheet'>
</head>

<body>
  <header class='navbar navbar-expand navbar-light flex-column flex-md-row'>
    <a class='navbar-brand text-primary m-0 mr-md-3' href='' style='font-size:24px;'>Simple Data Analysis</a>
  </header>
  <div class='container-fluid'>
    <div class='row' id='sda'>
      <div class='col-3'>
        <label for='inputA'>Data1</label>
        <textarea id='inputA' placeholder='Paste content here...'></textarea>
      </div>
      <div class='col-3 pl-0'>
        <label for='inputB'>Data2</label>
        <textarea id='inputB' placeholder='Paste content here...'></textarea>
      </div>
      <sda></sda>
      <div class='col-4'>
        <label for='output'>Result</label>
        <textarea class='form-control' v-model='output' readonly></textarea>
      </div>
      <script src='/static/sda.js'></script>
      <script>
        inputA = CodeMirror.fromTextArea(document.getElementById('inputA'), { lineNumbers: true, lineWrapping: true });
        inputB = CodeMirror.fromTextArea(document.getElementById('inputB'), { lineNumbers: true, lineWrapping: true });
        window.onload = () => {
          var data1 = localStorage.getItem('data1');
          if (data1 !== null) inputA.setValue(data1);
          var data2 = localStorage.getItem('data2');
          if (data2 !== null) inputB.setValue(data2);
        }
        window.onbeforeunload = () => {
          localStorage.setItem('data1', inputA.getValue());
          localStorage.setItem('data2', inputB.getValue());
        }
      </script>
    </div>
  </div>
</body>

</html>
