[Unit]
Description=Instance to serve Simple Data Analysis
After=network.target

[Service]
Environment=GIN_MODE=release
ExecStart=/var/www/sda/webapp/sda

[Install]
WantedBy=multi-user.target
